#!/bin/bash

keys_file=.envrc-private

if [ ! -f ${keys_file} ]; then
  cat >> ${keys_file} <<'EOF'
#!/bin/bash
export TRIPLYDB_TOKEN=
EOF
fi
source_env ${keys_file}

[ -z "${TRIPLYDB_TOKEN}" ] \
  && echowarn "If you want to run this package locally, make sure to set the correct environment variables in ${keys_file}."
export ONTWERP_TEAM_DIR=${HOME}/triply/ontwerp-team
