#!/bin/bash

keys_file=.envrc-private

if [ ! -f ${keys_file} ]; then
  cat >> ${keys_file} <<'EOF'
#!/bin/bash
export TRIPLYDB_TOKEN_PLDN=
export TRIPLYDB_TOKEN_KADASTER=
EOF
fi
source_env ${keys_file}

[ -z "${TRIPLYDB_TOKEN_PLDN}" ] \
  && echowarn "If you want to run this package locally, make sure to set the correct environment variables in ${keys_file}."
[ -z "${TRIPLYDB_TOKEN_KADASTER}" ] \
  && echowarn "If you want to run this package locally, make sure to set the correct environment variables in ${keys_file}."
